<html>
{{#each foo}}
{{this}}
{{/each}}
<head>
    <h1>Corvallis' Littlest Pet Shop</h1>
    <div class="topnav">
        <a href='/'>Home</a>
        <a class="active" href='/homepage'>Add Adoption and Aisle</a>
        <a href='/animal'>Animals</a>
        <a href='/supplies'>Supplies</a>
        <a href='/transactions'>Transactions</a>
    </div>
</head>
<div>
<h3>This is the page where you can add animals for adoption and add aisles<h3>
    <h2>Add animal for adoption:</h3>
    <form id="addanimal" action="/homepage" method="post">
        Animal Name: <input type="text" name="name"><br>
        Type: <input type="text" name="type"><br>
        Age: <input type="number" name="age"><br>
        Color: <input type="text" name="color"><br>
        Location: <select name="location">
            {{#each aisle}}
            <option value="{{id}}">{{id}}</option>
            {{/each}}
        </select><br>
        Food Type: <select name="ftype">
            {{#each supply}}
            <option value="{{id}}">{{bname}}</option>
            {{/each}}
        </select><br>
        Cost: <input type="text" name="cost"><br>
        <input type="submit" value="Submit">
    </form>
</div>
<br/>
<h3>If there is no aisle that contains this animal, please make a new aisle</h3>
    <table style="width:100%">
        <thead ALIGN=LEFT>
            <th>Aisle number</th>
            <th>Contains</th>
        </thead>
        <tbody>
            {{#each aisle}}
            <tr>
                <td>{{id}}</td>>
                <td>{{contains}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <form id="addaisle" action="/homepage" method="post">
        New Aisle Contains: <input type="text" name="contains"><br>
        <input type="submit" value="Submit">
    </form>
</html>
