<html>
{{#each foo}}
{{this}}
{{/each}}
<div>
<h3>Hello Corvallis' Littlest Pet Shop employees! Here you can add new animals that are up for adoption at the store,
    remove adopted animals, organize our inventory, and review past transactions!<h3>
    <h2>Add animal for adoption:</h3>
    <form id="addanimal" action="/animal" method="post">
        Animal Name: <input type="text" name="name"><br>
        Type: <input type="text" name="type"><br>
        Age: <input type="number" name="age"><br>
        Color: <input type="text" name="color"><br>
        Location: <select name="location"> 
            {{#each aisle}}
            <option value="{{id}}">{{aisle}}</option>
            {{/each}}
        </select><br>
        Food Type: <input type="text" name="ftype"><br>
        Cost: <input type="text" name="cost"><br>
        <input type="submit" value="Submit">    
    </form>
</div>
<br/>
<h3>If there is no aisle that contains this animal, please make a new aisle</h3>
    <table style="width:100%">
        <thead ALIGN=LEFT>
            <th>Aisle number</th>
            <th>Contains</th>
        </thead>
        <tbody>
            {{#each animal}}  
            <tr>
                <td>{{id}}</td>>
                <td>{{contains}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>  
    <form id="addaisle" action="/aisle" method="post">
        New Aisle Contains: <input type="text" name="name"><br>
        <input type="submit" value="Submit">    
    </form>   
</html>
