<!doctype html>
<html>
{{#each foo}}
{{this}}
{{/each}}
<head>
<h1>Corvallis' Littlest Pet Shop</h1>
    <div class="topnav">
        <a href='/'>Home</a>
        <a href='/homepage'>Add Adoption and Aisle</a>
        <a href='/animal'>Animals</a>
        <a href='/supplies'>Supplies</a>
        <a class="active" href='/transactions'>Transactions</a>
    </div>
</head>
<body>
    <h2>Here you can add new transactions and find the itemized reciepts</h2>
    <h3>New transaction:</h3>
    <form id="addtransaction" action="/transactions/addtrans" method="post">
        Customer Name: <input type="text" name="cname"><br>
        Purchase type: <select name="type" id="changingtype" onchange="change_id()"> <!-- ONCHANGE here to change live -->
            <option value="animal">Animal</option>
            <option value="supply">Supply</option>
        </select><br>
        Animal: <select name="animalid" id="animalid">
            {{#each animal}}
            <option value="{{id}}">{{name}}</option>
            {{/each}}
            </select><br>
        Supply: <select name="supplyid" id="supplyid" disabled>
            {{#each supply}}
            <option value="{{id}}">{{bname}}</option>
            {{/each}}
            </select><br>
        <input type="submit" value="Submit">
    </form>
    <script>
      let a = document.getElementById('animalid');
      let o = document.getElementById('supplyid');
      const change_id = () => {
        if (document.getElementById('changingtype').value=="animal") {
          a.disabled = false;
          o.disabled = true;
        } else {
          a.disabled = true;
          o.disabled = false;
        }
      }
    </script>
    <div scrible-ignore="" id="skribel__annotation_ignore_chromeExtensionFlag" class="skribel__chromeExtension" style="display: none;"></div>
    <form id='search_transactions' action='' method=''>
        <!--- this form does not submit directly, the button handles all the interaction with backend -->
        <label> Search for transactions by customer name:</label>
        <input id='cname_search_string' type='text' name='cname_search_string' value=''>
        <input type="button" value="Search" onclick="searchTransactionbyCname()">
    </form>
    <table style="width:100%">
        <thead ALIGN=LEFT>
            <th>Transaction/Adoption ID</th>
            <th>Customer Name</th>
            <th>item</th>
        </thead>
        <tbody>
            {{#each transactions}}
            <tr>
                <td>{{ID}}</td>
                <td>{{Name}}</td>
                <td>{{Item}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <h2>You can help customers return supplies and delete it from the database, but they CANNOT return animals!</h2>
    <h3>Enter the information of the item being returned below:</h3>
    <form id="returnsupply" action="/transactions" method="post">
        Transaction ID: <input type="text" name="id"><br>
        Customer Name: <input type="text" name="cname"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>